model_name: qwen/qwen3-vl-32b-instruct
prompt_version: vlm_v1.1
request_params:
  temperature: 0.4
  top_p: 0.9
  presence_penalty: 0.0
  frequency_penalty: 0.1
  stream: false
  stop:
    - "</s>"
    - "<|endoftext|>"
